.faq-header {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}

.faq-question {
  color: var(--color-purple-blue);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.94rem;
}

.faq-text p:nth-child(2) {
  margin-bottom: 3rem;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8.38rem;
}

.faq-text a {
  text-decoration: none;
  color: var(--color-yellow);
}

.marquee p {
  color: var(--color-yellow);
}