.footer-container {
  height: 21.25rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  margin-top: 2.5rem;
}

footer h1 {
  font-size: 0.9375rem;
  margin-bottom: 1rem;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.team img {
  width: 1.9375rem;
  height: 1.9375rem;
}

.team-individual a {
  font-size: 0.75rem;
}

.social-media {
  display: flex;
  align-items: center;
  margin-bottom: 1.94rem;
}

.social-media img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.7rem;
}

.social-media:nth-of-type(3) img{
  width: 1.2rem;
  height: 0.88694rem;
}

.social-media a {
  font-size: 0.87rem;
}

.social-media a:hover {
  color: var(--color-yellow);
}

.team-individual {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 9.6875rem;
}

.important-links div {
  margin-top: 0;
}

.important-links ul {
  display: flex;
  flex-direction: column;
}

.winfo-logo {
  margin: auto;
  width: 4.125rem;
  height: 1.25rem;
  margin-bottom: 1.56rem;
}