section {
  margin-top: 6.5rem;
}

/* Hackathon Landing */
.hackathon-landing{
  margin-top: 6.44rem;
  margin-bottom: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hackathon-landing img {
  width: 34.0625rem;
  height: 31.25rem;
}

.hackathon-landing h1:first-child, .hackathon-landing h2 {
  color: var(--color-white);
}

.hackathon-landing h1, .hackathon-landing h2 {
  text-align: center;
}

/* Our Event */
.hackathon-our-event p, .hackathon-theme p {
  margin-bottom: 2.5rem;
  margin-left: 2.94rem;
}

strong {
  color: var(--color-blush-pink);
}

.hackathon-our-event a {
  color: var(--color-blush-pink);
  text-decoration: underline;
}

/* Hackathon Theme */
.hackathon-theme-para {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hackathon-theme p {
  width: 45.9375rem;
}

.hackathon-theme p span:first-child {
  color: var(--color-purple-blue);
  font-weight: 700;
}

.hackathon-theme p span:last-child {
  color: var(--color-blush-pink);
  font-weight: 700;
}

.hackathon-theme img{
  width: 27.3125rem;
  height: 21.625rem;
}

/* Hackathon Schedule */
.hackathon-schedule-container {
  display: flex;
  gap: 15rem;
}

.hackathon-schedule-container-morning p {
  color: var(--color-light-yellow);
  margin-left: 2.94rem;
}

.hackathon-schedule-container-evening p {
  color: var(--color-light-blue);
}

.hackathon-schedule-content {
  display: flex;
  gap: 1rem;
}

.hackathon-schedule-content p {
  margin-bottom: 2.5rem;
}

/* Hackathon Sponsors */ 
.hackathon-sponsors {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}