/* Mentors */
.people-mentors p, .people-judges p:nth-child(3), .people-speakers p{
  color: var(--color-light-blue);
  font-style: italic;
}

/* Judges */
.people-judges p {
  margin-bottom: 2.5rem;
}

/* Speakers */

/* WINFO Team */
.people-team > p {
 font-size: 0.8rem;
 margin-bottom: 1.87rem;
}

.people-winfo-team-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 9.31rem;
  row-gap: 5rem;
}

.people-winfo-team a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.people-winfo-team img{
  width: 8rem;
  height: 8rem;
}

.people-winfo-name {
  color: var(--color-purple-blue);
}

.people-winfo-position {
  font-size: 0.9375rem;
  text-align: center;
}