#prize-tracks{
  color: var(--color-light-blue);
  margin-top: 1.5rem;
}

h3 span {
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}

.prize-tracks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prize-tracks-container ul {
  width: 23.5rem;
}

.prize-tracks-best-overall img{
  width: 18.75rem;
  height: 8.75rem;
}

.prize-tracks-best-impact img {
  width: 22rem;
  height: 8rem;
}

.prize-tracks-best-design img {
  width: 19.75rem;
  height: 8.9375rem;
}

.prize-tracks-best-software img {
  width: 10rem;
  height: 15rem;
}